name: Docker CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Build de la imagen
        run: docker build -t algofields/node .

      - name: Listar imágenes
        run: docker images algofields/node